body{

background:#0f172a;

color:white;

font-family:Arial;

margin:0;

padding:20px;

}

.container{

max-width:500px;

margin:auto;

}

.card{

background:#1e293b;

padding:20px;

border-radius:20px;

margin-bottom:20px;

}

h1,h2,p{

margin:10px 0;

}

#addBtn{

width:70px;

height:70px;

border:none;

border-radius:50%;

font-size:40px;

background:#0A84FF;

color:white;

position:fixed;

left:50%;

transform:translateX(-50%);

bottom:30px;

}
